@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,700;1,700&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@400;500;700&family=Rubik&display=swap');


/* reset */
* { margin: 0; padding: 0; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td {margin:0; padding:0;}
a { color: inherit; text-decoration: none; }
li { list-style: none; }
address, em, i { font-style: none; }
h1, h2, h3, h4, h5, h6 { font-size: inherit; }
a:hover { text-decoration: none; color: inherit; }

body {
   font-family: 'Noto Sans KR', sans-serif;
   /* font-family: 'Nanum Pen Script', cursive; */
   font-size: 14px;
}
.wrap {
   width: 100%;
   overflow: hidden;
}
.en {
   font-family: 'Josefin Sans', sans-serif;
   /* font-family: 'Bebas Neue', cursive; */
   /* letter-spacing: 4px; */
   font-weight: 700;
}

/* header */
header {
   width: 100%;
   position: fixed;
   z-index: 100;
   transition: all 0.3s;
}
header .innerHeader {
   height: 110px;
   padding: 0 80px;
   transition: all 0.5s;
}
.innerHeader .logo {
   width: 400px;
   height: 80px;
   float: left;
   margin-top: 20px;
   transition: all 0.3s;
}
.innerHeader .logo a {
   display: block;
   width: 100%;
   height: 100%;
   position: relative;
}
.innerHeader .logo a img {
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   transition: all 0.3s;
}
.innerHeader .logo a img:nth-child(2) {
   transition: all 0.3s;
   width: 60%;
   top: 13%;
   left: 20%;
}

/* fixHeader */
header.on .innerHeader {
   height: 80px;
   transition: all 0.3s;
   background: #dbdbdbef;
}
header.on .innerHeader .menu > li {
   height: 80px;
   line-height: 80px;
   transition: all 0.3s;
}
header.on .innerHeader .logo {
   transition: all 0.3s;
   margin-top: 10px;
}
header.on .innerHeader .logo a img:nth-child(2){
   opacity: 0;
}
header.on .menu ul.inner.on {
   top:60px;
}

/* menu */
.menu {
   position: absolute;
   left: 55%;
   /* transform: translateX(-50%); */
   width: 900px;
   overflow: visible;
}
.menu >li {
   float: left;
   height: 90px;
   line-height: 90px;
   position: relative;
   transition: all 0.3s;
   margin-right: 6%;
}
.menu >li:last-child {
   margin-right: 10%;
}
.menu >li >a {
   display: block;
   width: 100%;
   height: 100%;
   text-align: center;
   color: #fff;
   font-size: 30px;
   font-weight: 700;
   transition: all 0.3s;
}
.menu >li:hover >a,
.menu >li >a:focus {
   color: #1abc9c;
   transition: all 0.3s;
}
/* main */
.main .slide li {
   width: 100%;
   height: 98vh;
   position: relative;
   background: #ffbbe0;
}
.main .slide li:nth-child(2){
   background: #ffc6e6;
}
.main .slide li img {
   background: none;
   position: absolute;
   right: 7%;
   bottom: 3%;
   width: 50%;
   height: auto;
}
.main .slide li p#btnScroll:after {
   content: '';
   position: absolute;
   right: 27%;
   bottom: 3%;
   width: 10%;
   height: 30%;
   cursor: pointer;
}
.main .slide li p#btnScroll img {
   position: absolute;
   right: 27%;
   bottom: 3%;
   width: 2.5%;
   height: auto;
   opacity: 0;
}
.main .slide li .txt {
   position: absolute;
   left: 11%;
   top: 65%;
   color: #fff;
   font-size: 3vh;
   transform: translateY(-50%);
   font-weight: 700;
   text-transform: uppercase;
   transition: all 0.3s;
}
/* .main .slide li .txt:before {
   z-index: -1;
   content: '';
   position: absolute;
   left: -25%;
   top: 15%;
   width: 128%;
   height: 35vh;
   background: #ff9ed3;
} */
.main .slide li .txt p {
   margin-bottom: 5px;
}
.main .slide li .txt h2 {
   /* font-weight: 500;
   font-size: 14vh;
   font-family: 'Nanum Pen Script', cursive; */
   font-weight: 700;
   font-size: 8vh;
   letter-spacing: 5%;
}
.main .slide li .txt h2 span {
   /* font-size: 18vh; */
   font-size: 9vh;
   color: #ff5492;
   /* color: #1abc9cb4; */
}
/* .main .slide li .txt h2 span:hover,
.main .slide li .txt h2 span:focus {
   transition: all 0.3s;
} */

/* slick */
.slick-arrow {
   position: absolute;
   top:50%;
   z-index: 1;
   width: 60px;
   height: 60px;
   line-height: 60px;
   border: none;
   text-indent: -9999px;
   background: none;
}
.slick-arrow:after {
   content: '<';
   font-family: 'Rubik', sans-serif;
   position: absolute;
   width: 100%;
   height: 100%;
   color: #fff;
   font-size: 80px;
   left: 0;
   top: 0;
   text-indent: 0px;
   transition: all 0.3s;
}
.slick-next {
   right: 1px;
   text-align: left;
}
.slick-next:after {
   content: '>';
   left: 10px;
}

/* 화살표 hover */
.slick-arrow:hover:after {
   transition: all 0.3s;
   color: #1abc9c;
}

/* 게이지 */
.main .slick-active:after {
   content: '';
   width: 100%;
   height: 5px;
   background: #1abc9c;
   position: absolute;
   left: 0;
   bottom: 0;
   animation-name: bar;
   animation-duration: 7s;
}

@keyframes bar {
   0% { width: 0%; }
   100% { width: 100%; }
} 

/* main 애니메이션 */
.slick-active .txt p {
   animation-name: txt1;
   animation-duration: 0.8s;
}
@keyframes txt1 {
   0% {opacity: 0; transform: rotateX(180deg) translateY(-150px);}
   20% {opacity: 0; transform: rotateX(180deg) translateY(-150px);}
   100% {opacity: 1; transform: rotateX(0deg) translateY(0px);}
}

/* .slick-active .txt a {
   animation-name: txt2;
   animation-duration: 0.8s;
}
@keyframes txt2 {
   0% {opacity: 0; transform: rotateX(180deg) translateY(+150px);}
   20% {opacity: 0; transform: rotateX(180deg) translateY(+150px);}
   100% {opacity: 1; transform: rotateX(0deg) translateY(0px);}
} */
.slick-active .txt h2 {
   animation-name: txt3;
   animation-duration: 0.8s;
}
@keyframes txt3 {
   0% {transform: translateX(0); }
   20% {transform:translateX(-50px);}
   100% {transform: translateX(0); }
}
.slick-active .txt h2 span {
   animation-name: txt4;
   animation-duration: 1s;
}
@keyframes txt4 {
   0% { font-size: 8vh; }
   20% { font-size: 8vh; }
   100% { font-size: 9vh; }
}
.slick-active img {
   animation-name: img;
   animation-duration: 2s;
}
@keyframes img {
   0% {opacity: 0; transform: translateX(-150px);}
   20% {opacity: 0; transform: translateX(-150px);}
   100% {opacity: 1; transform: translateX(0px);}
}
.slick-active p#btnScroll img {
   animation: scroll linear 0.8s 1.9s infinite;
}
@keyframes scroll {
   0% { opacity: 1; transform: translateY(0px); }
   50% { opacity: 1; transform: translateY(-10px); }
   100% { opacity: 1; transform: translateY(0px); }
}

/* section */
section {
   margin-bottom: 300px;
}
section .title {
   position: relative;
   width: 1200px;
   padding-top: 80px;
   margin: 2% auto;
   color: #181818;
   font-family: 'Josefin Sans', sans-serif;
   font-weight: 700;
   font-style: italic;
}
/* section .title:after {
   content: '';
   position: absolute;
   left: 30px;
   bottom: 10px;
   width: 6px;
   height: 45px;
   background: #1abc9c;
} */
section .title h2 {
   /* font-family: 'Nanum Pen Script', cursive; */
   font-size: 40px;
   margin: 30px 55px;
   /* margin-bottom: 5px; */
   font-weight: 700;
}
section .title h2 span {
   color: #1abc9c
}
section .title p {
   color: #555;
   font-size: 18px;
}

/* skills */ 
.skill .title {
   left: 700px;
}
.skill {
   position: relative;
}
.skill ul:before {
   content: '';
   position: absolute;
   /* left: 0; */
   margin: 0 auto;
   transform: translateX(50px);
   top: 130px;
   width: 1200px;
   height: 1150px;
   z-index: -1;
   background: #ffbbe0;
   /* background: #1abc9c; */
   opacity: 0.3;
   border-radius: 15px;
}
.skill ul {
   width: 1200px;
   margin: 1% auto;
   overflow: hidden;
}
.skill li {
   width: 900px;
   margin: 50px 200px;
   font-size: 21px;
   position: relative;
}
.skill li h3 {
   margin-bottom: 21px;
   font-size: 23px;
}
.skill li:before {
   position: absolute;
   content: '';
   width: 100%;
   height: 10px;
   top: 38px;
   border-radius: 62px;
   background: #dbdbdb;
}
.skill.active li:after {
   animation: levelLine linear 1.2s 0s;
}
.skill li:after {
   position: absolute;
   content: '';
   height: 10px;
   top: 38px;
   border-radius: 62px;
   background: #1abc9c;
}
.skill li#java:after {
   width: 80%;
}
.skill li#sql:after {
   width: 60%;
}
.skill li#html:after {
   width: 70%;
}
.skill li#css:after {
   width: 50%;
}
.skill li#javaScript:after {
   width: 40%;
}
.skill li#github:after {
   width: 40%;
}
@keyframes levelLine {
   0% { width: 0%;}
}
.skill li div:after {
   position: absolute;
   content: '';
   width: 25px;
   height: 25px;
   line-height: 25px;
   top: 29px;
   border-radius: 50%;
   background: #1abc9c;
   color: #fff;
   font-size: 13px;
   font-weight: 700;
   letter-spacing: -2px;
   text-align: center;
   z-index: 1;
}
.skill.active li div:after {
   animation: levelNumber linear 1.2s 0s;
}
.skill li#java div:after {
   content: '80%';
   left: 79%;
}
.skill li#sql div:after {
   content: '60%';
   left: 59%;
}
.skill li#html div:after {
   content: '70%';
   left: 69%;
}
.skill li#css div:after {
   content: '50%';
   left: 49%;
}
.skill li#javaScript div:after {
   content: '40%';
   left: 39%;
}
.skill li#github div:after {
   content: '40%';
   left: 39%;
}
@keyframes levelNumber {
   0% { left: -1%;}
}

/* project */
section.project .title {
   left: 50px;
   /* margin-bottom: 150px; */
   /* margin: 5% auto; */
}
.project {
   position: relative;
}
.project ul:before {
   content: '';
   position: absolute;
   /* left: 0; */
   /* margin: 0 auto; */
   /* transform: translateX(50px); */
   left: 0;
   top: 120px;
   width: 30%;
   height: 30px;
   z-index: -1;
   background: #ff5493b6;
   /* background: #1abc9c; */
   opacity: 0.8;
}
.project ul {
   width: 1200px;
   margin: 5% auto;
   overflow: hidden;
}
.project ul li {
   float: left;
   width: 400px;
   /* margin-right: 3%; */
}
.project ul li:last-child {
   margin-right: 0;
}
.project ul li a {
   display: block;
   width: 100%;
   height: 100%;
}
.project ul li a p.img {
   width: 100%;
   overflow: hidden;
   position: relative;
   height: 251px;
}
.project ul li a p.img img {
   height: 100%;
   width: 100%;
   transition: width 0s;
   transition: all 0.6s;
}
.project ul li a p.img:before {
   content: '';
   width: 100%;
   /* background: rgba(59, 52, 56, 0.459); */
   background: rgba(0, 0, 0, 0.541);
   height: 251px;
   position: absolute;
   left: 0;
   top: 0;
   z-index: 1;
   /* transition: all 0.5s; */
}
.project ul li a:hover p.img:before,
.project ul li a:focus p.img:before {
   width: 0;
   /* transition: all 0.6s; */
}
.project ul li a:hover p.img img,
.project ul li a:focus p.img img {
   transform: scale(1.1);
   transition: all 0.6s;
}
.project ul li a p.img:after {
   font-family: 'Josefin Sans', sans-serif;
   content: 'VIEW';
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   font-size: 15px;
   color: #fff;
   border-radius: 50%;
   text-align: center;
   background: #1abc9c;
   opacity: 0;
   width: 0px;
   line-height: 0px;
   height: 0px;
   transition: all 0.3s;
}
.project ul li a:hover p.img:after,
.project ul li a:focus p.img:after {
   width: 60px;
   line-height: 60px;
   height: 60px;
   opacity: 0.9;
   transition: all 0.3s;
}
.project ul li a .content {
   width: 100%;
   padding: 20px 0 20px 10px;
   box-sizing: border-box;
}
.project ul li a .content p {
   font-size: 2.5vh;
   font-weight: 500;
}
.project ul li a .content p.color {
   color: #1abc9c;
   font-size: 21px;
   font-weight: 700;
}
.project ul li a .content p.date {
   color: #999;
   font-size: 1.7vh;
   font-weight: normal;
   padding-left: 5px;
   position: relative;
   margin-top: 30px;
}
.project ul li a .content p.date span {
   font-size: 1.9vh;
   margin-right: 2%;
}

/* contact */
section.contact .title {
   left: 420px;
   /* margin-top: 350px; */
   /* margin: 5% auto; */
}
.contact {
   margin-bottom: 430px;
   position: relative;
}
.contact ul:before {
   content: '';
   position: absolute;
   top: 0px;
   width: 70px;
   height: 70px;
   z-index: -1;
   background: #ffbbe0;
   transform: translateX(460px) translateY(97px);
   z-index: -1;
   /* background: #1abc9c; */
   opacity: 0.3;
   border-radius: 50%;
}
.contact ul:after {
   content: '';
   position: absolute;
   top: 0px;
   width: 300px;
   height: 300px;
   z-index: -1;
   background: #ffbbe0;
   transform: translateX(470px) translateY(120px);
   /* background: #1abc9c; */
   opacity: 0.7;
   border-radius: 50%;
}
.contact ul {
   width: 1200px;
   margin: 1% auto;
   padding-top: 23px;
   overflow: hidden;
   cursor: pointer;
}
/* .contact ul li:first-child p {
   padding-left: 20px;
} */
.contact ul li {
   transform: translateX(462px);
   /* margin: 4px auto; */
   padding: 6px;
   width: 1200px;
   color: #fff;
   font-size: 24px;
   font-weight: 700;
}
.contact ul li span {
   float: left;
   margin-right: 25px;
   width: 32px;
   font-size: 38px;
   font-weight: 700;
   color: #fff;
   transform: translateY(-2px);
   transition: all 0.3s;
}
.contact ul li:hover span{
   color: #1abc9c;
   /* color: #ff5492; */
   transition: all 0.3s;
   animation: pitapat 0.5s infinite;
}
@keyframes pitapat {
   0% { transform: translateY(0px); }
   50% { transform: translateY(2.3px); }
   100% { transform: translateY(0px); }
}

/* footer */
footer {
   /* margin-top: 250px; */
   width: 100%;
}
footer .innerFooter {
   background: #dbdbdb;
   color: #fff;
   padding: 30px 80px;
   transition: all 0.5s;
}
footer .innerFooter p {
   font-size: 15px;
   text-align: center;
}