@media ( max-width: 1350px ) {
    header .innerHeader {
        height: 110px;
        padding: 0 20px;
        transition: all 0.5s;
    }
    /* .innerHeader .logo a img:nth-child(1) {
        opacity: 1;
    }
    .innerHeader .logo a img:nth-child(2) {
        opacity: 0;
    } */
    .menu {
        position: absolute;
        right: 0px;
        width: 670px;
    }
    .menu >li >a {
        font-size: 22px;
    }
}
@media ( max-width: 950px ) {
    header .innerHeader {
        height: 110px;
        padding: 0 30px;
        transition: all 0.5s;
    }
    .innerHeader .logo a img:nth-child(1) {
        opacity: 1;
    }
    .innerHeader .logo a img:nth-child(2) {
        opacity: 0;
    }
    .menu {
        position: absolute; 
        right: 0px;
        width: 590px;
    }
    .menu >li {
        margin-right: 2%;
    }
    .menu >li >a {
       font-size: 21px;
    }
    .menu >li:last-child {
        margin-right: 1%;
    }
}
@media ( max-width: 650px ) {
    .menu {
        position: absolute; 
        right: 0px;
        width: 80%;
    }
    .menu > li {
        width: 20%;
    }
    .menu >li:first-child {
        width: 10%;
    }
    .menu >li >span {
        opacity: 1;
        position: relative;
        top: 6px;
        font-size: 33px;
    }
    .menu >li >a {
        opacity: 0;
        font-size: 1px;
        margin-right: 0px;
    }
    
    .main .slide li img {
        position: absolute;
        z-index: 10;
        right: 10px;
        top: 150px;
        width: 400px;
    }
    .main .slide li p#btnScroll {
        position: absolute;
        top: 0;
        right: 175px;
        height: 355px;
    }
    .main .slide li p#btnScroll:after {
        content: '';
        position: absolute;
        right: 0px;
        top: 393px;
        width: 20px;
        height: 30px;
        cursor: pointer;
        z-index: 1001;
    } 
    .main .slide li p#btnScroll img {
        z-index: 1000;
        height: 100%;
        width: auto;
        opacity: 0;
    }
    .main .slide li .txt {
        top: 600px;
    }
    .main .slide li .txt p {
        font-size: 23px;
    }
    .main .slide li .txt h2 {
        font-size: 33px;
    }
    .main .slide li .txt h2 span {
        font-size: 33px;
    }
    
    .slick-arrow:after {
        font-size: 40px;
    }
    .slick-active .txt h2 span {
        animation-name: txt4;
        animation-duration: 1s;
    }
    @keyframes txt4 {
        0% { font-size: 31px; }
        20% { font-size: 31px; }
        100% { font-size: 33px; }
    }
}