@media ( max-width: 1350px ) {
    header .innerHeader {
        height: 110px;
        padding: 0 20px;
        transition: all 0.5s;
    }
    /* .innerHeader .logo a img:nth-child(1) {
        opacity: 1;
    }
    .innerHeader .logo a img:nth-child(2) {
        opacity: 0;
    } */
    .menu {
        position: absolute;
        right: 0px;
        width: 670px;
    }
    .menu >li >a {
        font-size: 22px;
    }
}
@media ( max-width: 950px ) {
    header .innerHeader {
        height: 110px;
        padding: 0 30px;
        transition: all 0.5s;
    }
    .innerHeader .logo a img:nth-child(1) {
        opacity: 1;
    }
    .innerHeader .logo a img:nth-child(2) {
        opacity: 0;
    }
    .menu {
        position: absolute; 
        right: 0px;
        width: 590px;
    }
    .menu >li {
        margin-right: 2%;
    }
    .menu >li >a {
       font-size: 21px;
    }
    .menu >li:last-child {
        margin-right: 1%;
    }
}
@media ( max-width: 650px ) {
    .menu {
        position: absolute; 
        right: 0px;
        width: 360px;
    }
    .menu >li >span {
        opacity: 1;
        position: relative;
        top: 6px;
        font-size: 33px;
    }
    .menu >li >a {
        opacity: 0;
        font-size: 1px;
    }
    .menu >li:last-child {
        margin-right: 0;
    }
}