@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+KR:wght@400;500;700&display=swap');

/* reset */
* { margin: 0; padding: 0; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td {margin:0; padding:0;}
a { color: inherit; text-decoration: none; }
li { list-style: none; }
address, em, i { font-style: none; }
h1, h2, h3, h4, h5, h6 { font-size: inherit; }
a:hover { text-decoration: none; color: inherit; }

body {
   font-family: 'Noto Sans KR', sans-serif;
   font-size: 14px;
   background: #febadf;
}
.wrap {
   width: 100%;
   overflow: hidden;
}
.en {
   font-family: 'Bebas Neue', cursive;
}

/* header */
header {
   width: 100%;
   position: fixed;
   z-index: 100;
}
.innerHeader {
   height: 110px;
   padding: 15px 80px;
   transition: all 0.3s;
}
.innerHeader .logo {
   width: 400px;
   height: 80px;
   float: left;
   margin-top: 20px;
   transition: all 0.3s;
}
.innerHeader .logo a {
   display: block;
   width: 100%;
   height: 100%;
   position: relative;
}
.innerHeader .logo a img {
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   transition: all 0.3s;
}
.innerHeader .logo a img:nth-child(2) {
   width: 60%;
   top: 13%;
   left: 20%;
   /* opacity: 0; */
}

/* menu */
.menu {
   position: absolute;
   left: 55%;
   /* transform: translateX(-50%); */
   width: 900px;
}
.menu >li {
   float: left;
   height: 90px;
   line-height: 90px;
   position: relative;
   transition: all 0.3s;
   margin-right: 6%;
}
.menu >li >a {
   display: block;
   width: 100%;
   height: 100%;
   text-align: center;
   color: #fff;
   font-size: 30px;
   font-weight: 700;
   transition: all 0.5s;
}
.menu >li:hover >a,
.menu >li >a:focus {
   color: #1abc9c;
   transition: all 0.5s;
}